.img-responsive {
  /* height: 300px; */
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.img-responsive:hover {
  filter: grayscale(50);
}
.cont {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #747474;
  justify-content: space-around;
}
.cont div {
  width: 430px;
}
.cont p {
  width: 100%;
}
#div {
  justify-content: center;
  margin: 50px auto;
}
#div input {
  width: 50%;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.load {
  height: 150px;
  animation: rotate 0.5s infinite linear;
}
.not-load {
  display: none;
}
.download {
  padding: 10px 20px;
  background-color: rgb(34, 34, 189);
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  bottom: -200px;
  z-index: 1;
  opacity: 0;
}
.download-hov {
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 900px) {
  #div input {
    width: 100%;
  }
  .cont img {
    width: 100%;
    height: auto;
  }
}
