.cont img {
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.cont img:hover {
  transform: scale(1.07);
}
.cont {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #747474;
}

.cont p {
  width: 100%;
}
#div {
  justify-content: center;
  margin-bottom: 50px;
}
#div input {
  width: 50%;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.load {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 7px solid #fff;
  border-top-color: #0e2053;
  animation: rotate 1s infinite ease;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 400px) {
}
